.title_one {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    color: #1B2122;
}

.sec_py {
    padding: 100px 0px;
}

.mb_50 {
    margin-bottom: 50px;
}

.p_15 {
    padding: 15px;
}

.card_border {
    border: 1px solid #DDE0E4;
    border-radius: 5px;
}

/* color start */
.text_white{
    color: #fff !important;
}

.text_black{
    color: #000 !important;
}
/* color end */

/* grid layout start*/
.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

/* grid layout end*/


@media only screen and (max-width: 768px) {
    .grid-4 {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-3 {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-2 {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media only screen and (max-width: 600px) {
    .grid-4 {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-3 {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-2 {
        grid-template-columns: repeat(1, 1fr);
    }

}