.faq-heading {
    border-radius: 5px;
    padding: 20px 60px;
}

.faq-container {
    display: flex;
    justify-content: center;
    flex-direction: column;

}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
    /* background-color: #eee; */
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: 1px solid #DDE0E4;
    outline: none;
    transition: 0.4s;
    margin: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #000000;
    margin-top: 20px;
    box-sizing: border-box;
}

.faq-body {
    margin: auto;
    /* text-align: center; */
    width: 100%;
    padding: auto;

}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* .active,
.faq-page:hover {
    background-color: #F9F9F9;
} */

/* Style the faq-page panel. Note: hidden by default */
.faq-body {
    padding: 15px;
    box-sizing: border-box;
    padding-right: 0;
    background-color: transparent;
    display: none;
    overflow: hidden;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #000000;
}

.faq-page:after {
    content: url(../images/icons/arrow_bottom.svg);
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: url(../images/icons/arrow_bottom.svg);
    transform: rotate(180deg);
    /* Unicode character for "minus" sign (-) */
}