.humberger_icon {
    display: none;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 15px;

}


nav a {
    font-size: 13px;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #000;
}


nav ul {
    display: flex;
}

nav li {
    display: flex;
}

.light a {
    color: #000;
}

.dark a {
    color: #fff;
}

.close {
    display: none;
}



@media only screen and (min-width: 1400px) {
    nav a {
        font-size: 16px;
    }

}

@media only screen and (min-width: 1200px) {
    .mobile_logo{
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .light a {
        color: #fff;
    }
    .close {
        display: block;
        position: absolute;
        top: 20px;
        right: 40px;
        font-size: 50px;
        color: #fff;
        font-weight: 300;
        transition: all 0.2s ease;
    }

    .close:hover {
        color: #fc7010;
    }

    nav a {
        font-size: 16px;
    }

    .mobile_logo {
        display: block;
        text-align: center;
    }

    #normal_nav {
        display: flex;
        position: fixed;
        left: 0;
        top: -10000px;
        height: 100%;
        width: 100%;
        background: #fff;
        z-index: 12;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.95);
        transition: top 0.3s;
    }

    nav ul {
        list-style-type: none;
        min-width: 250px;
        background: transparent;
        padding: 20px;
        z-index: 12;
        border-radius: 15px;
        flex-direction: column;
        text-align: center;
    }

    nav li {
        margin-top: 10px;
        display: block;
    }

    nav a {
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #fff;
    }

    .humberger_icon {
        display: block;
    }

    .dark a {
        color: #fff;
    }



}

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 1200px) {}