@media only screen and (min-width: 1200px) {
    #normal_nav {
        display: block !important;
    }
}

@media only screen and (max-width: 1200px) {
    .footer_grid {
        grid-template-columns: 4fr 4fr 2fr 2fr;
    }

    footer br {
        display: none;
    }

    .hm_s4 {
        min-height: 350px;
    }

    .hm_s4_child1 {
        min-height: 350px;
    }

    .newToMining_img {
        width: 598px;
    }

    .mr_s2_child {
        width: 175px;
    }
}

@media only screen and (max-width: 992px) {
    .h_sec2_main p {
        font-size: 12px;
    }

    .h_sec2_main h1 {
        font-size: 25px;
    }

    .h_sec2_child span {
        font-size: 18px;
    }

    .ready_to_mine {
        min-height: 400px;
    }

    .rtm_img {
        display: block;
        margin: 0 auto;
        width: 291px;
    }

    .rtm_child2 h1 {
        font-size: 40px;
    }

    .dash_s1_flex_1 {
        flex-direction: column;
        gap: 30px;
    }

    .footer_grid {
        grid-template-columns: 6fr 6fr;
    }

    .dash_table {
        width: 718px !important;
    }

    .hm_s4 {
        min-height: 300px;
    }

    .hm_s4_child1 {
        min-height: 300px;
    }

    .newToMining_img {
        width: 385px;
        left: -64px;
    }

    .hm_sec5 {
        width: 90%;
    }

    .blogDetails {
        grid-template-columns: 1fr;
    }

    .CryptoCoin {
        width: 96%;
    }

    .cc_CryptoCoin {
        display: none;
    }

    .cc_search_main {
        width: 70%;
        margin: 30px auto;
    }

    .logo {
        width: 150px;
    }

    .hum_main_child {
        grid-gap: 15px;
    }

    .hum_main_child img {
        width: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .mb_50 {
        margin-bottom: 30px;
    }

    .sec_py {
        padding: 60px 0px;
    }

    .h_sec2_main h1 {
        font-size: 20px;
        line-height: 0px;
    }

    .title_one {
        font-size: 25px;
    }

    .rtm_child2 {
        justify-content: center;
    }

    .rtm_img {
        width: 200px;
    }

    .ready_to_mine .grid-2 {
        position: relative;
        padding: 30px 0px;
    }

    #recently_minded_table_div .table_one {
        width: 700px !important;
    }

    .Recently_mined_btn_blue {
        position: sticky;
        left: 50%;
    }

    .home_table_overlay {
        width: 700px;
    }

    .cartoon-man-img {
        display: none;
    }

    .newToMining_img {
        width: 100%;
        left: 0px;
        bottom: 0px;
        position: relative;
    }

    .hm_s4_child1 {
        order: 2;
        min-height: auto;
        padding-bottom: 30px;
    }

    .hm_s4_child2 {
        order: 1;
        padding-top: 30px;
    }

    .hm_sec5 {
        width: 95%;
    }

    .hm_7_grid_child1 {
        order: 2;
    }

    .hm_7_grid_child2 {
        order: 1;
    }

    .api_middle_div div:nth-of-type(1) {
        order: 2;
    }

    .api_middle_div div:nth-of-type(2) {
        order: 1;
    }

    .CryptoCoin {
        margin: 0 auto;
        width: 75%;
        position: relative;
        right: 0;
        bottom: 0;
        display: block;
    }

    .hc_top {
        width: 100%;
    }

    .dash_w_first {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .dash_search_main {
        position: relative;
        width: 90%;
    }

    .mr_first_bg {
        width: 90%;
        margin: 0 auto;
    }

    .api_top_nav {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .Dashboard_pc {
        display: none;
    }

    .Dashboard_mobile {
        display: block;
    }

    .mr_s2_child {
        width: 56px;
        flex-direction: column;
        gap: 10px;
        padding: 15px 20px;
    }

    .mr_icon_div_active {
        width: 36px;
        height: 36px;
        box-shadow: 0px 0px 26px 5px #fc8f10;
    }

    .mr_s2_child p {
        text-align: center;
        font-size: 12px;
        line-height: 14px;
    }

    .mr_s2_child:hover .mr_icon_div {
        box-shadow: 0px 0px 26px 5px #fc8f10;
    }

}

@media only screen and (max-width: 600px) {
    .mb_50 {
        margin-bottom: 15px;
    }

    .sec_py {
        padding: 40px 0px;
    }

    .h_sec2_main {
        grid-template-columns: 1fr;
    }

    .h_sec2_child {
        border-right: 0px solid;
        border-bottom: 0.902113px solid #EAEAF2;
        padding: 10px 0px;
        text-align: center;
    }

    .h_sec2_child:last-child {
        border-bottom: 0 solid #EAEAF2;
    }

    .h_sec2_main p {
        font-size: 12px;
    }

    .h_sec2_main h1 {
        font-size: 25px;
        margin-top: 5px;
    }

    .h_sec2_child span {
        font-size: 18px;
    }

    .np_Div {
        text-align: center;
    }

    .np_Div img {
        left: 0px;
    }

    .rtm_child2 h1 {
        font-size: 28px;
    }

    .m-none {
        display: none;
    }

    .dash_s1_flex_2 {
        flex-direction: column;
    }

    .dash_s1_flex_2 div {
        padding: 20px 0px;
    }

    .dash_s1_flex_2 div::after {
        content: none;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 90%;
        background: #36373D;
    }

    .dash_s1_flex_2 div {
        border-bottom: 1px solid #36373D;
    }

    .footer_grid {
        grid-template-columns: 12fr;
    }

    .hmS1_container {
        width: 100%;
    }

    .hmS1 {
        border-radius: 0px;
    }

    .title_one {
        line-height: 32px;
    }

    .blog_s_main {
        width: 100%;
    }

    .blogDetails_div {
        margin-top: 20px;
        margin-left: 0px;
        width: 100%;
        box-sizing: border-box;
    }

    .cc_search_main {
        width: 100%;
    }

    .mr_bg_area_svg_div {
        width: 50px;
        height: 50px;
    }

    .mr_bg_area_svg {
        width: 20px;
        height: 28px;
        box-shadow: 0px 0px 44px 11px #fc8f10;
    }

    .mr_bg_area_title {
        gap: 25px;
    }

    .mr_bg_area_div {
        padding: 26px;
        border-radius: 10px;
    }

    .hum_main_child {
        position: absolute;
        right: 8vw;
        top: 84px;
        z-index: 15;
    }
}