@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    padding: 20px;
    text-align: center;
    background-color: aqua;
}

/* footer area start */

/* footer area end */


/* home page start */
/* --------------------------------------------------- */
.h_sec2 {
    background: #F8F8F9;
}

.h_sec2_main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px 0px;
}

.h_sec2_child {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 0.902113px solid #EAEAF2;
}

.h_sec2_child:last-child {
    border-right: 0 solid #EAEAF2;
}

.h_sec2_main h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 38.9433px;
    line-height: 58px;
    color: #1B2122;
}

.h_sec2_child span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 23.8786px;
    line-height: 36px;
    color: #A1A2A8;
}

.h_sec2_main p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #A1A2A8;
}

.np_Div{
    background-color: #fff;
}

.np_Div img {
    position: relative;
    left: -41px;
    top: -22px;
    margin-bottom: -60px;
}

.np_Div p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #1B2122;
}


/* --------------------------------------------------- */
/* home page end */