@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    position: absolute;
    left: 0;
    width: 100%;
}

.header_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.gif_img {
    width: 50px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(16, 16, 16, 0.15);
    transition: all 0.5s;
}

.hum_main{
    display: flex;
    align-items: center;
    gap: 30px;
}

.hum_main_child{
    display: flex;
    align-items: center;
    transition: all 0.5s;
    gap: 30px;
}

.gif_img_color{
    display: none;
}
.hum_main_child_a:hover .gif_img_grey{
    display: none;
}
.hum_main_child_a:hover .gif_img_color{
    display: block;
}

.humberger_icon{
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    position: absolute;
    min-width: 250px;
    background: #fff;
    right: 0;
    top: 57px;
    padding: 20px;
    z-index: 12;
    border-radius: 15px;
    box-shadow: 0px 10px 10px rgb(16 16 16 / 15%);
}

nav li {
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000;
}

/* footer area start */

.foot_top {
    padding-top: 100px;
    padding-bottom: 40px;
}

.footer_grid {
    display: grid;
    grid-template-columns: 5fr 3fr 2fr 2fr;
    grid-gap: 20px;
}

footer p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #A1A2A8;
}

.footer_ul {
    list-style-type: none;
}

.footer_ul li {
    margin-top: 15px;
}

.footer_ul li:first-child {
    margin-top: 0px;
}

.footer_ul a {
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #A1A2A8;
}

.copyright_text {
    padding: 20px;
    background: #F8F8F9;
    text-align: center;
}

/* footer area end */



/* ready to mine area start */
.ready_to_mine {
    background-color: #000;
    min-height: 500px;
    position: relative;
    z-index: 0;
}

.ready_to_mine_clip {
    background-image: url(../images/ready_to_mine_bg.png);
    background-color: #FC7010;
    clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0% 100%);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.ready_to_mine .grid-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 100%;
}

.rtm_img {
    display: block;
    margin: 0 auto;
}

.rtm_child2 {
    display: flex;
    align-items: center;
}

.rtm_child2 h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 56.4962px;
    line-height: 67px;
    color: #FFFFFF;
}


.rtm_child2 p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #FFFFFF;
}

/* ready to mine area end */


/* home page start */
/* --------------------------------------------------- */
.h_sec2 {
    background: #F8F8F9;
}

.h_sec2_main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px 0px;
}

.h_sec2_child {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 0.902113px solid #EAEAF2;
}

.h_sec2_child:last-child {
    border-right: 0 solid #EAEAF2;
}

.h_sec2_main h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 38.9433px;
    line-height: 58px;
    color: #1B2122;
}

.h_sec2_child span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 23.8786px;
    line-height: 36px;
    color: #A1A2A8;
}

.h_sec2_main p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #A1A2A8;
}

.np_Div {
    background-color: #fff;
}

.np_Div img {
    position: relative;
    left: -41px;
    top: -22px;
    margin-bottom: -60px;
}

.np_Div p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #1B2122;
}

.number {
    width: fit-content;
}

.number::before {
    content: '';
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #85FFB6;
    margin-right: 15px;
}

.table_div {
    position: relative;
}

.home_table_overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    min-height: 200px;
    width: 100%;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 12;
    transform: rotate(-180deg);
}

.Recently_mined_btn_blue {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    z-index: 12;
}

.recently_minded_table_div {
    position: relative;
    height: 500px;
    overflow-y: hidden;
    overflow-x: scroll;
}

#view_less {
    display: none;
    position: relative;
}

.recently_minded_table_div::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.home_s1 {
    width: 100%;
    height: 477px;
    padding-top: 145px;
    background-image: url(../images/home_sec1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-wave {
    width: 100vw;
    height: 100vh;
}

.arrowIcon{
    margin-top: 80px;
    width: 100%;
}

/* --------------------------------------------------- */
/* home page end */



/* Dashboard page start */
/* --------------------------------------------------- */
.dash_section {
    background-color: #151419;
}

.dash_top_p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14.1292px;
    line-height: 21px;
    color: #FFFFFF;
}

.dash_s1_number {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32.6177px;
    line-height: 49px;
}

.dash_s1_number span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14.1292px;
    line-height: 21px;
    color: #FFFFFF;
}

.dash_s1_equal {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 11.9791px;
    line-height: 18px;
    color: #FFFFFF;
}

.dash_s1_flex_1 {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    border-bottom: 1px solid #36373D;
}

.dash_s1_flex_2 {
    display: flex;
}

.dash_s1_flex_2 div {
    padding: 0px 60px;
    position: relative;
}

.dash_s1_flex_2 div:first-child {
    padding-left: 0px;
}

.dash_s1_flex_2 div::after {
    content: '';
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 90%;
    background: #36373D;
}

.dash_s1_flex_2 div:last-child::after {
    content: none;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 70%;
    background: #36373D;
}

.dash_s1_flex_3 {
    display: flex;
    gap: 20px;
}

.dash_s1_flex_3_child {
    border: 1px solid #36373D;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 40px;
    position: relative;
    text-align: center;
}

.dash_s1_flex_3_child:nth-of-type(1)::before {
    content: url(../images/icons/active.svg);
    position: absolute;
    top: -11px;
    left: 50%;
    transform: translateX(-50%);
}

.dash_s1_flex_3_child:nth-of-type(2)::before {
    content: url(../images/icons/inactive.svg);
    position: absolute;
    top: -11px;
    left: 50%;
    transform: translateX(-50%);
}

.dash_s1_grid {
    padding: 30px 0px 50px;
}

.dash_grid_child {
    background: #222127;
    border-radius: 4px;
    padding: 20px;
    position: relative;
}

.dash_grid_child:nth-of-type(1)::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 80%;
    height: 3px;
    background: #85FFB6;
}

.dash_grid_child:nth-of-type(2)::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 80%;
    height: 3px;
    background: #FFBD5A;
}

.dash_grid_child:nth-of-type(3)::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 80%;
    height: 3px;
    background: #FC7010;
}

.dash_grid_number {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32.6177px;
    line-height: 28px;
    margin-top: 14px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.dash_grid_number span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #87868B;
}

.dash_title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 39px;
    color: #1B2122;
}

.dash_workers {
    width: 95%;
    margin: 0 auto;
    background: #000000;
    border-radius: 20px;
}

.dash_search_main {
    position: relative;
    width: 25%;
}

.dash_search_main input {
    background: #151718;
    border-radius: 5px;
    padding: 10px 20px;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    width: 100%;
}

.dash_w_first {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.search_orange {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.dash_table th::before {
    content: url(../images/icons/up_down_arrow.svg);
    position: relative;
    left: -18px;
    top: 3px;
}

.dash_table th:first-child:before {
    content: none;
}

.dash_table_div {
    overflow-x: auto;
}

/* --------------------------------------------------- */
/* Dashboard page end */



/* How To Mine Crypto page end */
/* --------------------------------------------------- */
.hmS1 {
    background: #AF91DB;
    border-radius: 20px;
}

.hmS1_g_child1 {
    padding: 20px;
    display: flex;
    align-items: center;
}

.cartoon-man-img {
    height: 100%;
    width: 100%;
}

.hm_blog_top_part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hm_blog {
    background: #F5F5F5;
}

.hm_blog_btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    color: #1C8AC7;
    text-decoration: none;

}

.hm_blog_title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #1B2122;
}

.hm_blog_card_body {
    margin: 15px;
}

.hm_blog_child {
    border: 1px solid #DDE0E4;
    border-radius: 12px;
    background-color: #fff;
}

.hm_s4 {
    background-image: url(/asstes/images/newToMining_bg.png);
    min-height: 400px;
    width: 100%;
}

.hm_s4_child1 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
}

.newToMining_img {
    position: absolute;
    width: 675px;
    bottom: 0;
    left: -140px;
}

.hm_s4_child2 {
    position: relative;
}

.hm_sec5 {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.hmS6 {
    border-radius: 20px;
    background-color: #000;
    position: relative;
}

.hm_table_one_div {
    padding: 0px 40px;
    overflow: auto;
}

.hm_table_one td {
    text-align: center !important;
}

.hm_table_one th {
    text-align: center !important;
}

.hm_bg_triangle {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    background-color: transparent;
    border-top: 30px solid #fff;
    border-left: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 30px solid transparent;
}

.hm_s7 {
    padding: 150px 0px 100px;
    margin-top: -73px;
}

/* --------------------------------------------------- */
/* How To Mine Crypto page end */


/* BLog page start */
/* --------------------------------------------------- */
.right_arrow_white {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    padding: 5px;
    right: 8px;
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    background: #FC7010;
}

.blog_s_main {
    width: 50%;
    margin: 0 auto;
}

.blog_foot_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* --------------------------------------------------- */
/* BLog page end */


/* BLog Details page start */
/* --------------------------------------------------- */
.blogDetails {
    display: grid;
    grid-template-columns: 7fr 5fr;
    grid-gap: 40px;
}

.blog_details_card {
    margin-top: 20px;
    display: flex;
    gap: 30px;
    align-items: center;
    background: #FEFEFE;
    border-radius: 10px;
    padding: 15px;
}

.blog_details_card h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #1B2122;
}


.blog_details_card p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140.7%;
    color: #A1A2A8;
    margin-top: 10px;
}

.bd_card_img {
    width: 140px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
}

.recent_post_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 15px;
    color: #000000;
}

.blog_details_img {
    height: 390px;
    object-fit: cover;
    border-radius: 15px;
}

.blogDetails_div {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    width: 75%;
    margin-top: -70px;
    margin-left: 30px;
    position: relative;
}

.blogDetails_div p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140.7%;
    color: #848484;
}

.blogDetails_div h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 41px;
    color: #000000;
    margin-top: 10px;
}

/* --------------------------------------------------- */
/* BLog Details page end */


/* Faq page start */
/* --------------------------------------------------- */
.faq_grid {
    grid-gap: 40px;
}

.faq_grid_child1 {
    display: flex;
    align-items: center;
}

/* --------------------------------------------------- */
/* Faq page end */


/* Api Docs page start */
/* --------------------------------------------------- */
.api_top_nav {
    display: flex;
}

.api_top_nav p {
    margin-right: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 12px;
    color: #000000;
    position: relative;
    cursor: pointer;
}

.api_top_nav p:hover::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%);
    background: #FC7010;
    border-radius: 5px;
    width: 50%;
    height: 4px;
}

.api_middle_div {
    background-color: #222127;
    margin-top: 40px;
    padding: 40px;
    border-radius: 20px;
    position: relative;
}

.api_middle_div p {
    word-break: break-all;
}

.CryptoCoin {
    display: block;
    position: absolute;
    bottom: -40px;
    right: 0;
}

.api_middle_div div:nth-of-type(2) {
    position: relative;
}

.api_table_main {
    background-color: #000;
    padding: 150px 0px 80px;
    margin-top: -80px;
}

.api_table_main td {
    text-align: start;
}


/* --------------------------------------------------- */
/* Api Docs page end */


/* Coin Comparison page start */
/* --------------------------------------------------- */
.usd_swicth {
    width: fit-content;
    padding: 0px 15px;
    height: 80%;
    background-color: #FC7010;
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 8px;
    cursor: pointer;
}

.cc_search_main {
    width: 40%;
    margin: 30px auto;
}

.cc_CryptoCoin {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.cc_CryptoCoin1 {
    left: 0px;
}

.cc_CryptoCoin2 {
    right: 0px;
}

.cc_sec2 {
    background-color: #000;
}

.cc_sec2_triangle {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    background-color: transparent;
    border-top: 30px solid #fff;
    border-left: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 30px solid transparent;
}

.cc_table td:first-child {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hc_top {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.hc_tdm {
    background: #fc6e102c;
    border-radius: 25px;
    color: #FC7010;
    width: 100%;
    height: 100%;
    display: block;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.hc_td_btn {
    background: transparent;
    border-radius: 5px;
    padding: 5px 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14.1292px;
    line-height: 21px;
    color: #fff;
    cursor: pointer;
    border: 1px solid #36373D;
}

.hc_table_div {
    overflow-x: auto;
}

/* --------------------------------------------------- */
/* Coin Comparison page end */


/* How To Build Mining Rig page start */
/* --------------------------------------------------- */
.mr_first_bg {
    width: 70%;
    margin: 0 auto;
}

.mr_first_div {
    background-image: url(../images/mining_rig_bg.png);
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.mr_s2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.mr_s2_child {
    background: #FFFFFF;
    border: 1px solid #DDE0E4;
    border-radius: 10px;
    width: 220px;
    align-items: center;
    display: flex;
    gap: 25px;
    padding: 30px 20px;
    cursor: pointer;
}

.mr_icon_div {
    width: 40px;
    height: 40px;
    background: #F8F8F9;
    border-radius: 7.11111px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mr_s2_child:hover .mr_icon_div{
    width: 40px;
    height: 40px;
    background: #FC8F10;
    border-radius: 7.11111px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 44px 11px #fc8f10;
}

.mr_s2_child:hover path{
    fill: #fff;
}

.mr_icon_div_active {
    width: 40px;
    height: 40px;
    background: #FC8F10;
    border-radius: 7.11111px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 44px 11px #fc8f10;
}

.mr_icon_div_active path {
    fill: #fff;
}

.mr_bg_area{
    padding-bottom: 50px;
}

.mr_bg_area_title{
    display: flex;
    align-items: center;
    gap: 40px;
}

.mr_bg_area_title img{
    border-radius: 20px;
    box-shadow: 0px 0px 44px 11px #fc8f10;
}

.mr_bg_area_svg_div{
    width: 80px;
    height: 80px;
    background: #FC8F10;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.mr_bg_area_svg{
    width: 40px;
    height: 40px;
    box-shadow: 0px 0px 44px 11px #fc8f10;
}

.mr_bg_area_svg path{
    fill: #fff;
}
.mr_bg_area_div{
    padding: 50px;
    border-radius: 10px;
}

.mr_bg_area_div p{
    margin-top: 50px;
}


/* --------------------------------------------------- */
/* How To Build Mining Rig page end */